-function prettyDate(dateString){
  -var d = dateString.getDate();
  -var monthNames = [ "Jan", "Feb", "Mar", "Jun", "Jul", "Aug", "Sep", "Oct", "Nov", "Dec"];
  -var m = monthNames[dateString.getMonth()];
  -var y = dateString.getFullYear();
  -return d+' '+m+' '+y;
-}

doctype html
html(lang="en")
  head
    title= 'Quote '+quote_id+' for '+name
    style
      include quote-form.css
  body
    header
      img#logo(src="http://www.at-l.com/wp-content/uploads/2014/05/atl_logo_frontpage.jpg")
      h1(style="display:none  ") American Tape and Label
      h2 Service and Quality for Less
      // h3= 'Quote last modified on ' + prettyDate(updatedAt)
      div#quote-id
        h3 Quote #
          br
          em= quote_id
        aside
          | Opened
          br
          = prettyDate(createdAt)
    main.full
      table.column.left
        thead
          tr
            th Client Info
        tbody
          tr
            td Proposal For:
            td= name
          tr
            td Address:
            td= addressStreet
          tr
            td City, St, Zip:
            td= addressCity + ', ' + addressState + ' ' + addressZip
          tr
            td Telephone:
            td= phone
          tr
            td Email:
            td= email

      table.column.right
        thead
          tr
            th Job Info
        tbody
          tr
            td Shape:
            td= shape
          tr
            td Corner:
            td= corner
          tr
            td Tools:
            td= selectedTool
          tr
            td Substrate:
            td= substrate
          tr
            td Finishing:
            td= finish
          tr
            td Number of designs:
            td= numDesigns

      table.full#price-table
        thead
          tr
            th Pricing
        tbody
          tr
            td.row-header Quantity:
            if quantity1
              td.quantity= quantity1
            if quantity2
              td.quantity= quantity2
            if quantity3
              td.quantity= quantity3
            if quantity4
              td.quantity= quantity4
            if quantity5
              td.quantity= quantity5
          tr
            td.row-header Price Per Thousand:
            if quantity1 && overallCost1
              td.quantity= '$'+(overallCost1/quantity1 * 1000).toFixed(2)
            if quantity2 && overallCost2
              td.quantity= '$'+(overallCost2/quantity2 * 1000).toFixed(2)
            if quantity3 && overallCost3
              td.quantity= '$'+(overallCost3/quantity3 * 1000).toFixed(2)
            if quantity4 && overallCost4
              td.quantity= '$'+(overallCost4/quantity4 * 1000).toFixed(2)
            if quantity5 && overallCost5
              td.quantity= '$'+(overallCost5/quantity5 * 1000).toFixed(2)
      ul.small-column.left
        li= 'Cost Per Design: $' + costPerDesign
        li= 'Prepress Charges: $' +prepressCharges

      ul.big-column.right.price-summary
        if quantity1
          li(style="")= 'Total Label Cost for '+quantity1+' labels: $'+overallCost1.toFixed(2)+' ($'+(overallCost1/quantity1).toFixed(2)+' per label)' 
        if quantity2
          li(style="")= 'Total Label Cost for '+quantity2+' labels: $'+overallCost2.toFixed(2)+' ($'+(overallCost2/quantity2).toFixed(2)+' per label)' 
        if quantity3
          li(style="")= 'Total Label Cost for '+quantity3+' labels: $'+overallCost3.toFixed(2)+' ($'+(overallCost3/quantity3).toFixed(2)+' per label)' 
        if quantity4
          li(style="")= 'Total Label Cost for '+quantity4+' labels: $'+overallCost4.toFixed(2)+' ($'+(overallCost4/quantity4).toFixed(2)+' per label)' 
        if quantity5
          li(style="")= 'Total Label Cost for '+quantity5+' labels: $'+overallCost5.toFixed(2)+' ($'+(overallCost5/quantity5).toFixed(2)+' per label)' 

    footer
      h3 DISCLAIMER:
      p Prices are based on artwork supplied by customer. Pre Press charges may apply. Prices are subject to change. An exact quote may be given upon receiving your artwork or computer disk. Quotes are valid for 30 days. All orders are subject to a 10% over/under run unless Orders are C.O.D., MASTERCARD/VISA accepted.

      p AT&amp;L is in no way responsible for any (written or implied) products, labor, container, or costs incurred due to incorrect printing or material deficiencies. All proofing before and after printing is the sole responsibility of the customer. Please report any discrepancies on this ticket immediately.

      p Thank You.

      p Joe Heguy

      small(style="text-align: center;")
        p 6390 North Broadway | Denver, Colorado 80216
        p (303) 427-0588 | FAX (303) 650-6271 | Visit us at www.AT-L.com
        br
        p &copy; 2007 American Tape &amp; Label. All Rights Reserved.
